// * {
//   font-family: "PlusJakarta Text", sans-serif;
//   color: #2c2d36;
//   font-size: 16px;
//   line-height: 24px;
// }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
select {
  -webkit-appearance: none;
}
