// * {
//   font-family: "PlusJakarta Text", sans-serif;
//   color: #2c2d36;
//   font-size: 16px;
//   line-height: 24px;
// }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
select {
  -webkit-appearance: none;
}

#check-box {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.style-guide-description {
  top: 100px;
}

.boxed {
  padding: 6px;
  align-items: center;
}
.text-primary {
  color: #e14817;
  font-weight: 700;
  font-size: initial;
}
.color-link-box-grid {
  grid-row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.color-link-box {
  padding-right: 10px;
  padding-left: 10px;
}
