// * {
//   font-family: "PlusJakarta Text", sans-serif;
//   color: #2c2d36;
//   font-size: 16px;
//   line-height: 24px;
// }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
select {
  -webkit-appearance: none;
}

#check-box {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.style-guide-description {
  top: 100px;
}

.boxed {
  padding: 6px;
  align-items: center;
}
